extends layout

block content
  if posts
    each post, i in posts
      .post
        h1
          a(href='/posts/show/' + post._id)
           =post.title
        p.meta Posted in #{post.category} by #{post.author} on #{moment(post.date).format("DD-MM-YY")}
        img(src='/images/' + post.mainImage)
        !=truncateText(post.body,300)
        a.more(href='/post/show/' + post._id) Show More
